{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <h1 class="text-center">Tasks Pendings</h1>
    {% if tasks %}
    <ul class="list-group">
        {% for task in tasks %}
        
        <a class="list-group-item" href="{% url 'task_detail' task.id %}">
            <header class="d-flex justify-content between">
                <h1 class="fw-bold">{{task.title}}</h1>
            </header>
            <p>{{task.created}}</p>
            <p>{{task.description}}</p>
        </a>
        
        {% endfor %}
    </ul>
    {% else %}
    <p>No Tasks pending</p>
    {% endif %}
</main>
{% endblock %}

