{% extends 'base.html' %}

{% block content %}
<main class="container py-2">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form  method="POST" class="card card-body">
            <h1>{{task.title}}</h1>
            {% csrf_token %}
            {{error}}
            {{form}}
            <h1></h1>
    <button  class="btn btn-primary ">Save</button>
    <a href="{% url 'delete_task' task.id %}"  style="margin-top:5px;" class="btn btn-danger" role="button" aria-pressed="true">Delete</a>
    <a href="{% url 'completed_task' task.id %}"  style="margin-top:5px;" class="btn btn-success" role="button" aria-pressed="true">Completed</a>
    
</form>

        </div>
    </div>
    
</main>
{% endblock %}